
header
{
	background: transparent url("../images/MariaHeader.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      background-repeat: no-repeat;
    background-color: #BCED91;
    padding: 2%;
}

body{
	font: 75% georgia, sans-serif;	
	padding: 0;
	margin: 0;
}

h1{
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
}

h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	}

a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	}
a:hover, a:focus, a:active 
{ 
	text-decoration: underline; 
	color: #9685BA;
}	


ul 
{
	list-style-image: url('../images/tag.gif');
}

li 
{
	font: normal 1.4em georgia, sans-serif;
	letter-spacing: 1px;
	
}

abbr 
{
	border-bottom: none;
}
	

p 
{
	margin-top: 0;
	font-size: 26px;
	text-align: justify;	
}
  
span {
	font-size: 26px;
}
  
details {
	font-size: 26px;
	font-style: italic;
}  

nav{
	text-align: center;	
}

nav a
{	
	padding-top: 22%;
	display: block;
	;color: #564246;
	font-size: 250%;
	text-decoration: underline;
	text-align: center;
}

.active
{
	color: #42e5f4;
}

h2
{
	color: #512ADE;
	text-transform: uppercase;
	padding: 10px;
}

.right 
{
	width: 80%;
	height : 100%;
	min-height: 100%;
	float: right;
}
.left 
{
	background: transparent url("../images/Board.gif");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;		
	display: inline-block;
	float: left;
	width: 200px;
	min-width: 200px;
	height: 700px;
	min-height: 700px;
}



img{
	display: inline-block;
	border-style: solid;
	text-align: center;
	border-radius: 5px;
	width: 300px;
	float: left;
}


.pinboard 
{
	min-height: 100%;	
	background: url("../images/pinboard.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 964px;
	height: 700px;
}

table.pinboard  tr td  
{
	text-align: center;
	min-height: 10%;
	height: 100px;
	width: 500px;
	opacity: .6;
}

table.pinboard tr:hover 
{
	opacity: .6;
}

table.pinboard tr td:hover 
{
	opacity: 1;
}

table.pinboard tr td a
{
	background: transparent;
	border: none;
}

table.pinboard tr td a img
{
	background: transparent;
	border: none;
	opacity: 1;
}


#MyAnimationID {
	display: inline-block;
	width: 200px;
}